.button-primary {
    background: skyblue;
    padding: 5px;
    cursor: pointer;
}

.button-default {
    padding: 5px;
    cursor: pointer;
}

.button-group-btn {
    background: green;
    padding: 5px;
    cursor: pointer;
}
