.btn {
    height: 40px;
    width: auto;
    border-radius: 5px;
    border: none;
    outline: 0;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial;

    &:active {
        transform: scale(0.95);
    }
}

.btn-primary {
    background-color: #e66b00;

    &:hover,
    &.selected {
        background-color: #a44e00;
    }
}

.btn-default {
    background-color: #ffffff;
    color: #404040;
    border: 1px solid #a8a8a8;

    &:hover,
    &.selected {
        background-color: #b3b3b3;
    }
}

.btn.disabled {
    background-color: #ebebe4;
    color: #c6c6c6;
    cursor: not-allowed;
    transform: scale(1);
}
